
<link rel="stylesheet" href="/estilos/header.css">
<header>
    <nav>
        
        <a href="/comenzadas">Tareas comenzadas</a>
        <a href="/revision">Tareas en revision</a>
        <a href="/finalizada">Tareas finalizadas</a>
        <a href="/">Inicio</a>
        

    </nav>
</header>